<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scanner.js: Scan as JPEG</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div>

      <h2>Scanner.js: scan as JPG & PDF</h2>
      <button id="btn-scan" type="button">Scan</button>
    </div>

    <form
      id="form-save-db"
      action="/saveFile"
      method="POST"
      enctype="multipart/form-data"
      target="_blank"
    >
      <input id="btn-save-db" type="button" value="Save In DataBase" />
      <input id="file" type="file" name="avatar" />
    </form>

    <div id="server_response"></div>
    <div id="images"></div>
  </body>

  <script
    src="https://cdn.asprise.com/scannerjs/scanner.js"
    type="text/javascript"
  ></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="/javascripts/main.js"></script>
</html>
